$color: #7ed0e7;

// body{
//     margin: 0;
//     width:100vh;
// }

.container {
  background: $color;
}

// .mainBody{
//     background-color: #0973ed !important;
// }

.loginLink {
  text-decoration: none;
}

#errorMsg{
  color:red
}
